*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}


.pg, .ug{
  display: flex;
  overflow: auto;
  margin-left: 30px;
}

.project{
  margin-left: 30px;
  margin-right: 30px;
}

.tech-skills{ 
  padding-top: 100px;
  padding-bottom: 100px;
  border: 2px solid gray;
}

.skills{
  display: flex;
  justify-content: center;
  overflow: auto;
}

.skills-ach{
  display: flex;
  justify-content: center;
  overflow: auto;
}

.mar-gap{
  margin-right: 20px;
}

.val{
  /* margin-top: 7px; */
}


.det{
  margin-top: 15px;
  border: 2px solid gray;
}

.perinfo{
  display: flex;
  overflow: auto;
}

.data{
  margin-top: 3px;
  margin-left: 20px;
}

.place-img{
  display: flex;
  overflow: auto;
  margin-bottom: 20px;
} 

.sign-des{
  margin-left: 100px;
}

.signimg{
  margin-left: 380px;
}

.about-pic{
  margin-top: 15px;
}

.mypic-des{
  /* width: 100%; */
  height: 300px;
}

.about-details{
  display: flex;
  overflow: auto;
}

.gap-elements{
  margin-left: 20px;
}

.signature-des{
  margin-left: 160px;
}

/* Responsive web design  */
@media screen and (width: 500px) {
  .mypic-des{
    width: 70%;
    height: 500px;
  }
}

@media screen and (width: 375px) {
  .skills{
    margin-left: 25px;
  }
  
  .tech-skills{ 
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .val{
    margin-top: 0px;
  }

  .mar-gap{
    margin-left: 0px;
  }

  .pro-des{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .cer-des{
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .per-des{
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .signature-des{
    margin-left: 0px;
  }

  .pic-img{
    margin-left: 50px;
  }

  .place-date{
    margin-left: 100px;
  }

}


@media screen and (width: 800px) {
  .mypic-des{
    width: 100%;
    height: 500px;
  }
}

@media screen and (width: 360px) {
  .tech-des{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

